In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns= ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts <500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts <1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
numerical_data = pd.get_dummies(application_df)
numerical_data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [26]:
# Split our preprocessed data into our features and target arrays
y = numerical_data['IS_SUCCESSFUL'].values
X = numerical_data.drop(columns = ['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split (X,y, random_state =85)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_1 = 10
hidden_nodes_2 = 8
hidden_nodes_3 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1,
                             input_dim=number_input_features, activation="LeakyReLU"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_2, activation = "sigmoid"))

# third hidden layer
nn.add(tf.keras.layers.Dense
    (units=hidden_nodes_3, activation = "sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                440

 dense_4 (Dense)             (None, 8)                 88

 dense_5 (Dense)             (None, 6)                 54

 dense_6 (Dense)             (None, 1)                 7

=================================================================
Total params: 589 (2.30 KB)
Trainable params: 589 (2.30 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=['accuracy'])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=60)

Epoch 1/60
804/804 [==============================] - 4s 3ms/step - loss: 0.6225 - accuracy: 0.6788
Epoch 2/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5777 - accuracy: 0.7280
Epoch 3/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5745 - accuracy: 0.7285
Epoch 4/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5721 - accuracy: 0.7287
Epoch 5/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5699 - accuracy: 0.7286
Epoch 6/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5672 - accuracy: 0.7287
Epoch 7/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7295
Epoch 8/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5620 - accuracy: 0.7295
Epoch 9/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5596 - accuracy: 0.7295
Epoch 10/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7289
Epoch 11/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7289
Epoch 12/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7294
Epoch 13/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7296
Epoch 14/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7295
Epoch 15/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7301
Epoch 16/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7298
Epoch 17/60
804/804 [==============================] - 4s 4ms/step - loss: 0.5538 - accuracy: 0.7303
Epoch 18/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7304
Epoch 19/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5533 - accuracy: 0.7306
Epoch 20/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7302
Epoch 21/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7304
Epoch 22/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7304
Epoch 23/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7299
Epoch 24/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7304
Epoch 25/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7304
Epoch 26/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7296
Epoch 27/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7299
Epoch 28/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7313
Epoch 29/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7312
Epoch 30/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7317
Epoch 31/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7310
Epoch 32/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7309
Epoch 33/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7323
Epoch 34/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7328
Epoch 35/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7320
Epoch 36/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7320
Epoch 37/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7329
Epoch 38/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7324
Epoch 39/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7326
Epoch 40/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7322
Epoch 41/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7321
Epoch 42/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7324
Epoch 43/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7323
Epoch 44/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7328
Epoch 45/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7326
Epoch 46/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7330
Epoch 47/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7331
Epoch 48/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7330
Epoch 49/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5479 - accuracy: 0.7325
Epoch 50/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7332
Epoch 51/60
804/804 [==============================] - 4s 5ms/step - loss: 0.5477 - accuracy: 0.7329
Epoch 52/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5475 - accuracy: 0.7320
Epoch 53/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7322
Epoch 54/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 55/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7332
Epoch 56/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7317
Epoch 57/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7325
Epoch 58/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7333
Epoch 59/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7337
Epoch 60/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7335

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5481 - accuracy: 0.7361 - 519ms/epoch - 2ms/step
Loss: 0.5481480360031128, Accuracy: 0.736093282699585

In [31]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization3.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(